---
title: Prototype - Molinair Insurance
description: Page template for index or /personal
---

<div class="orbit">
  <div class="medium-3 columns panel quickquote">
    {{> quote}}
  </div>
  <ul class="orbit-slides" data-orbit data-options="resume_on_mouseout:true;">
    <li>
      <img src="http://lorempixel.com/1440/700/nature/2" alt="slide 1" />
      <!-- <img src="http://placehold.it/1440x700/A92B48/fff" alt="slide 1" /> -->
      <div class="orbit-caption">
        Auto Insurance
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/1440/700/people/2" alt="slide 2" />
      <!-- <img src="http://placehold.it/1440x700/EE964D/fff" alt="slide 2" /> -->
      <div class="orbit-caption">
        Home Insurance
      </div>
    </li>
    <li>
      <!-- <img src="http://lorempixel.com/1440/700/nature/3" alt="slide 3" /> -->
      <img src="http://placehold.it/1440x700/FDC43D/fff" alt="slide 3" />
      <div class="orbit-caption">
        Slide Caption
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Innovative, interactive &amp; invaluable. Insurance solutions for every occasion</h2>
    <p>We are insurance brokers and consultants located in Mississauga, Ontario. We have been serving our local community and Ontario for over 30 years! Combining experience and premium service, we are the best place for all your personal and commercial insurance needs in the Greater Toronto Area.</p>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns">
    <a href="#">
      <img class="th" alt="Mobile App" src="{{assets}}images/photos/mobApp.jpg" width="300" height="170">
    </a>
    <h4>Mobile App</h4>
    <p>We go where you go! All the support you need right on your phone.</p>
    <p><a href="https://play.google.com/store/apps/details?id=com.waxworks.ibao" target="_blank">Android</a> / 
    <a href="http://itunes.apple.com/us/app/icompanion/id542513267?ls=1&amp;mt=8" target="_blank">Apple</a> / 
    <a href="http://appworld.blackberry.com/webstore/content/119804/?lang=en" target="_blank">Blackberry</a></p>
  </div>

  <div class="medium-3 columns">
    <a href="/contact/">
      <img class="th" alt="i4c" src="{{assets}}images/photos/etower.jpg" width="300" height="170">
    </a>
    <h4>Travel Insurance</h4>
    <p>Whether you are traveling abroad or visiting Canada? We got you covered.</p>
    <p><a href="/contact/">Contact Us</a></p>
  </div>

  <div class="medium-3 columns">
    <a href="/contact/">
      <img class="th" alt="Essential Life" src="{{assets}}images/photos/el-300.jpg" width="300" height="170">
    </a>
    <h4>Essential Life</h4>
    <p>Life is even better when you and your family are protected!</p>
    <p><a href="/contact/">Talk To Us Today!</a></p>
  </div>

  <div class="medium-3 columns">
    <a href="#">
        <!-- <img class="th" alt="i4c" src="{{assets}}images/photos/frsh-start-300.jpg" width="300" height="170"> -->
        <img src="http://placehold.it/300x170/EE964D/fff" alt="i4C" class="th">
      </a>
      <!-- <h4>‘Fresh Start’ High Risk Auto</h4> -->
      <h4>Name</h4>
      <!-- <p>The #1 solution in cleaning up your auto insurance.</p> -->
      <p>Description</p>
      <p><a href="#">Link</a></p>
  </div>
</div>

<div class="panel">
<div class="row">

  <div class="small-12 columns text-center">
    <h3>Latest News</h3>
  </div>

  <div class="medium-3 columns">
    <a href="#">
      <img src="{{assets}}images/photos/woman-pc.jpg" alt="Woman using a PC" class="th">
      <p><strong>Why Saving Money Does NOT Always Equal Value</strong></p>
      <p>If you speak with most people about their insurance these days, a common theme of discussion centers on price....</p>
      <hr>
    </a>
  </div>

  <div class="medium-3 columns">
    <a href="#">
      <img src="{{assets}}images/photos/accident.jpg" alt="Car Accident" class="th">
      <p><strong>What To Do When Involved In An Automobile Accident</strong></p>
      <p>Being involved in an accident can be a very stressful event. To help you protect both yourself and your…</p>
      <hr>
    </a>
  </div>

  <div class="medium-3 columns">
    <a href="#">
      <img src="{{assets}}images/photos/vacays.jpg" alt="Vacationers" class="th">
      <p><strong>Going On Vacation? Here Are Tips To Keep Your Home Safe</strong></p>
      <p>If you are going on vacation it is especially important to make your home appear inhabited. To fully protect...</p>
      <hr>
    </a>
  </div>

  <div class="medium-3 columns">
    <a href="#">
      <img src="http://placehold.it/420x315/FDC43D/fff" alt="Placeholder Image" class="th">
      <p><strong>Title</strong></p>
      <p>Excerpt</p>
      <hr>
    </a>
  </div>

</div>
</div>
